.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    width: 100%;
    height: 100%;
}

#root{
    width: 100%;
    height: 100%;
}

.cajero{
    width: 50%;
    height:100%;
    float:left;
    position:relative;
    padding:5px;
    background:#f1f9fa;
}

.botoneria{
    width: 10%;
    height:100%;
    float:left;
    position:relative;
    padding-top:5%;
}

.boton{
    width: 94%;
    height:7%;
    float:left;
    position:relative;
    border:1px solid #cdcdcd;
    margin:5% 2%;
    background:#cdcdcd;
    box-shadow:1px 1px 1px #808080;
}

.boton:hover{    
    background:bebcbc;
}

.centro{
    width:calc(80% - 20px);
    height:100%;
    float:left;
    position:relative;
    margin:0px  10px;
}

.pantalla{
    width: 100%;
    height:40%;
    float:left;
    position:relative;
    border:1px solid #cdcdcd;
    border-radius :4%;    
    box-shadow:1px 1px 2px 2px inset #808080;
    background:#c0d1fe;
}

.contenedor{
    width: 100%;
    height:30%;
    float:left;
    position:relative;
}

.recibo{
    width:50%;
    height:40%;
    float:left;
    position:relative;
    margin:2%;
    background:#222;
}

.reciboTitulo{
    width: 100%;
    height:25%;
    float:left;
    position:relative;
    background:#f1f9fa;
    color:#000;
    text-align:center;
    font-size:13px;
    font-weight:bold;
}

.reciboIndicador{
    width: 10%;
    height:10px;
    float:left;
    position:relative;
    background:#53e63c;
    top:10px;
    left:10px;
}

.reciboApertura{
    width: 75%;
    height:2px;
    float:left;
    position:relative;
    background:#cdcdcd;
    margin:calc(15% - 2px) 10%;
}

.insertarTarjeta{
    width: 30%;
    height:40%;
    float:right;
    position:relative;
    margin:2%;
    background:#222;
}

.tarjetaTitulo{
    width: 100%;
    height:25%;
    float:left;
    position:relative;
    background:#f1f9fa;
    color:#000;
    text-align:center;
    font-size:13px;
    font-weight:bold;
}

.tarjetaIndicador{
    width: 10%;
    height:10px;
    float:left;
    position:relative;
    background:#53e63c;
    top:10px;
    left:10px;
}

.tarjetaApertura{
    width: 80%;
    height:2px;
    float:left;
    position:relative;
    background:#cdcdcd;
    margin:calc(20% - 2px) 10%;
}

.dispensadorEfectivo{
    width: 96%;
    height:45%;
    float:left;
    position:relative;
    margin:2%;
}

.dispensadorTitulo{
    width: 100%;
    height:25%;
    float:left;
    position:relative;
    color:#000;
    text-align:center;
    font-size:13px;
    font-weight:bold;
}

.dispensador{
    width: 100%;
    height:70%;
    float:left;
    position:relative;
    background:#222;
}

.dispensadorIndicador{
    width: 10%;
    height:10px;
    float:left;
    position:relative;
    background:#53e63c;
    top:10px;
    left:10px;
}

.dispensadorApertura{
    width: 80%;
    height:2px;
    float:left;
    position:relative;
    background:#cdcdcd;
    margin:calc(8% - 2px) 10%;
}

.teclado{
    width: 100%;
    height:30%;
    float:left;
    position:relative;
    padding-left:2%;
}

.botonTeclado{
    width: 20%;
    height:15%;
    float:left;
    position:relative;
    border:1px solid #cdcdcd;
    background:#cdcdcd;
    box-shadow:1px 1px 1px #808080;
    margin:1%;
    text-align:center;
    font-size:11px;
    padding-top:5px;
}

.botonTecladoG{
    width: 25%;
    height:15%;
    float:left;
    position:relative;
    border:1px solid #cdcdcd;
    background:#cdcdcd;
    box-shadow:1px 1px 1px #808080;
    margin:1%;
    text-align:center;
    font-size:11px;
    padding-top:5px;
}

.botonTeclado label {
    text-shadow: 1px 1px white, -1px -1px #cdcdcd;
    color: #000;}

.botonTeclado:hover{    
    background:#bebcbc;
}

.botonTecladoG:hover{    
    background:#bebcbc;
}

.botonSiguiente{
    background:url(./proximo.svg) no-repeat;
}

.botonAnterior{
    background:url(./atras.svg) no-repeat;
}